#addTransactionContainer {
  position: fixed;
  background: #0891ec;
  bottom: 0px;
  width: 100%;
}

.date-header th {
  background: yellow;
}

.date-footer td {
  background: green;
}

.final-footer td {
  background: red;
  color: white;
}
