.input-table input {
  width: 100%;
}

.profit {
  background: green;
}
.loss {
  background: red !important;
}

#addTransactionContainer {
  position: fixed;
  background: #0891ec;
  bottom: 0px;
  width: 100%;
}

#addTransactionContainer .table {
  margin-bottom: 0px;
}

#transactionId {
}

.edit-selected {
  background: greenyellow;
}

.date-header th {
  background: yellow;
}

.date-footer td {
  background: green;
  color: white;
}

.final-footer td {
  background: red;
  color: white;
}

#bottomSection {
  padding-bottom: 100px;
  background: blueviolet;
}
