<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Transaction App</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://sean.is/assets/projects/taggle/css/taggle.css">
  <link rel="stylesheet" href="css/index.css">

  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
  <script>
    String.prototype.toDate = function () {
      return new Date(this);
    }
    Date.prototype.toDate = function () {
      return new Date(this);
    }
    // Returns the ISO week of the date.
    Date.prototype.getWeek = function () {
      var date = new Date(this.getTime());
      date.setHours(0, 0, 0, 0);
      // Thursday in current week decides the year.
      date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
      // January 4 is always in week 1.
      var week1 = new Date(date.getFullYear(), 0, 4);
      // Adjust to Thursday in week 1 and count number of weeks from date to week1.
      return 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000
        - 3 + (week1.getDay() + 6) % 7) / 7);
    }
  </script>
</head>

<body ng-app="app" ng-controller="dataController">
  <div id="transactionContainer">
    <table class="table table-bordered table-striped table-condensed transaction-table">
      <thead>
        <tr>
          <th class="col-xs-2">Date</th>
          <th class="col-xs-2">Name</th>
          <th class="col-xs-2">Price</th>
          <th class="col-xs-2"></th>
          <!-- Show if seller <th class="col-xs-2">Sold</th> -->
          <th class="col-xs-3">Tag</th>
          <th class="col-xs-1">Delete</th>
        </tr>
      </thead>

      <tbody ng-repeat="day in transactionsByMonthYear  | orderBy: 'date' ">
        <tr class="date-header">
          <th class="monthYear">
            {{day.monthYear}}
          </th>
          <th>
            <!-- # of items.  Avg Price
              {{day.transactions.length}}
              <span class="pull-right">${{cH.getTotal(day.transactions, "price")/day.transactions.length | number: 2}}</span>
            -->
          </th>
          <th>
            <!-- Total -->
            <!-- ${{cH.getTotal(day.transactions, "price") | number: 2}} -->
          </th>
          <th></th>
          <th></th>
          <th>
            <!-- Total.  Total / All
              ${{cH.getTotal(day.transactions, "price") | number: 0}} {{cH.getTotal(day.transactions, "price") /
              cH.getTotal(transactions,
              "price") * 100 | number: 0}}%
            -->
          </th>
        </tr>
        <!-- Transactions -->
        <tr ng-repeat="trans in day.transactions | orderBy: 'date'" transId={{trans._id}}>
          <td>
            {{trans.date.toDate().toLocaleString()}}
          </td>
          <td ng-click="fillTransactionInfo(trans, $event);" class="nameTd">{{trans.name}}</td>
          <td>
            $ {{trans.price}}
          </td>
          <td>
            <!-- Removing sold if seller.  Sold + Flip
              {{trans.sold}}
              <span ng-class="(trans.sold - trans.price > 0) ? 'profit' : 'loss'" class="pull-right">
                {{trans.sold - trans.price}}
              </span>
            -->
          </td>
          <td class="tag" id="{{trans._id.$oid}}">
            {{populateTags(trans)}}
          </td>
          <td>
            <span ng-click="deleteItem(trans)">
              X
            </span>
          </td>
        </tr>
        <tr class="date-footer">
          <td>
            <b><span style="font-size: 16px">{{day.monthYear}} Totals:</span></b>
            <!-- {{cH}} -->
          </td>
          <td>
              {{day.transactions.length}} item<span ng-if="day.transactions.length > 1">s</span>
          </td>
          <td>
            Total: $ {{cH.getTotal(day.transactions, "price") | number: 2}}
            <br> 
            <span ng-if="day.transactions.length > 1">Avg Price: ${{cH.getTotal(day.transactions, "price")/day.transactions.length | number: 2}}</span>
          </td>
          <td>
            <!-- Sold.  Enable if Seller Profile.
              Sold: ${{cH.getTotal(day.transactions, "sold") | number: 2}}
              <span class="pull-right">{{cH.getSoldCount(day.transactions)}}</span>
            -->
          </td>
          <!-- Show Net Price.  Green+/Red-  Enable if seller profile.
              <td ng-class="( (cH.getNetPrice(day.transactions) > 0) ? 'profit' : 'loss')">
              Net: ${{cH.getNetPrice(day.transactions) | number: 2}}
              </td> 
          -->
          <td>
            <!-- Put in Tags Here.  Expand. -->
            <table>
              <tr ng-repeat="tag in day.tags" class="tagData-row">
                <td class="col-xs-4 tag">
                  {{getKeyByValue(day.tags, tag)}}
                </td>
                <td class="col-xs-4">
                    {{cH.getTotal(tag, "price")}}
                </td>
                <td class="col-xs-4">
                    {{tag.length}}
                </td>
              </tr>
            </table>
          </td>
          <td>
            <!-- Day price.  % of All Transactions.  Total            
              ${{cH.getTotal(day.transactions, "price") | number: 0}} {{cH.getTotal(day.transactions, "price") /
              cH.getTotal(transactions,
              "price") * 100 | number: 0}}%
              <span class="pull-right">
                Total: {{ cH.getTotal(transactions, "price") | number: 2}}
              </span> 
            -->
          </td>
        </tr>
      </tbody>

      <tbody id="overallSum">
        <tr class="final-footer">
          <td>
            Grand Total:
          </td>
          <td>
            {{transactions.length}} items
            <span class="pull-right">{{ (cH.getTotal(transactions, "price") / transactions.length) | number: 2 }}</span>
          </td>
          <td>
            ${{cH.getTotal(transactions, "price") | number: 2 }}
          </td>
          {{$parse(flip = cH.getOverallFlip(transactions))}}
          <td>
            <!-- Sold: {{cH.getTotal(transactions, "sold")}} {{flip.count}}
            <br /> Cost: {{flip.sum}} {{}}
            <br /> Flip: {{cH.getTotal(transactions, "sold") - flip.sum | number: 2 }}
            <br /> -->
          </td>
          <td>
            <!-- <span ng-class="(getProfit() > 0) ? 'profit' : 'loss'">Net: {{getProfit() | number: 2}}</span> -->
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <!-- <section id="bottomSection">
      Statistics
    </section> -->
  </div>
  <footer id="addTransactionContainer">
    <table class="table table-condensed table-bordered table-striped">
      <tbody>
        <tr>
          <td class="col-xs-2">Date</td>
          <td class="col-xs-2">Name</td>
          <td class="col-xs-2">Price</td>
          <td class="col-xs-2"></td>
          <!-- <td class="col-xs-2">Sold</td> -->
          <td class="col-xs-3">Tag</td>
          <td class="col-xs-1">Action</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-condensed input-table">
      <tbody>
        <tr>
          <td class="col-xs-2">
            <input id="date" ng-model="date" type="date">
            <input id="dateTime" ng-model="dateTime" placeholder="(HH:MM)">
          </td>
          <td class="col-xs-2">
            <input id="name" ng-model="name" placeholder="Item Name">
          </td>
          <td class="col-xs-2">
            <input id="price" ng-model="price" placeholder="Item Price">
          </td>
          <td class="col-xs-2">
            <!-- <input id="sold" ng-model="sold" placeholder="Sold Price"> -->
          </td>
          <td class="col-xs-3">
            <input id="tags" ng-model="tags" placeholder="Tags">
          </td>
          <td class="col-xs-1">
            <button ng-hide="editMode" class="btn btn-success" ng-click="addItem()">Add+</button>
            <button ng-show="editMode" class="btn btn-success" id="editButton" ng-click="updateItem()">Update</button>
            <input ng-model="transactionId" id="transactionId">
          </td>
        </tr>
      </tbody>
    </table>
  </footer>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="./js/angular-bootstrap-calendar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/taggle/1.12.0/taggle.min.js"></script>

<script src="js/factory.js"></script>
<script src="js/controller.js"></script>

<script>

  $(document).ready(function () {
    $('body').on('mouseenter', '.tag', function () {
      // console.log(this);
      // console.log($(this));

      var tagName = $(this).html().trimStart().trimEnd();
      var $monthYear = $(this).closest('tbody').parent().closest('tbody');
      var $tags = $(this).closest('tbody').parent().closest('tbody').closest('tbody').find(".tag");
      // console.log($tags);
      // console.log($tags[0]);
      // console.log($($tags[0]));
      // console.log(tagName);
      $tags.each(function (index) {
        // console.log($(this))

        // console.log($(this)[0])
        // console.log(tagName);
        // console.log($(this).html());
        // console.log($(this).html().indexOf(tagName));

        if ($(this).html().indexOf(tagName) !== -1) {
          // console.log("Here");
          // console.log($(this).closest('tr'))

          // console.log($(this).closest('tr')[0])
          $(this).closest('tr').find("td").addClass("tag-hover");
        }
      })
    });

    $('body').on('mouseleave', '.tag', function () {
      $(".tag-hover").removeClass("tag-hover");
    });

    $('body').on('mouseenter', '.tag .taggle', function () {
      var tagName = $(this).find('.taggle_text').html().trimStart().trimEnd();
      var $monthYear = $(this).closest('tbody');
      var $tags = $(this).closest('tbody').find(".tag");

      $tags.each(function (index) {
        if ($(this).html().indexOf(tagName) !== -1) {
          $(this).closest('tr').find("td").addClass("tag-hover");
        }
      });
    })

    $('body').on('mouseleave', '.tag .taggle', function () {
      $(".tag-hover").removeClass("tag-hover");
    });

  })
</script>

</html>